<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>InstituteAppUsingServletRedirecting</display-name>
  <welcome-file-list>
    <welcome-file>Institute_HomePage.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>driver</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1522:xe</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>xe</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>XEE</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.nt.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.nt.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstituteInfoServlet</display-name>
    <servlet-name>InstituteInfoServlet</servlet-name>
    <servlet-class>com.nt.servlet.InstituteInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstituteInfoServlet</servlet-name>
    <url-pattern>/instituteinfo</url-pattern>
  </servlet-mapping>
</web-app>